.project-container {
	display: flex;
	flex-direction: column;
	width: 95%;
}

.project-card {
	border: 1px solid #adadad;
	margin: 10px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	border-radius: 3px;
	box-shadow: 3px 3px 3px #adadad;
	background-color: #ffffff;
	position: relative;
}

a.proj-title {
	font-size: 20px;
	text-decoration: none;
	color: #0097e6;
}

a.proj-info {
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.date-count-container {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

.bold {
	font-weight: bold;
}


.create-container {
	display: flex;
	flex-direction: column;
	margin: 10px;
	width: 95%;
}

.create-btn {
	border: 1px solid #adadad;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #adadad;
	background-color: #44bd32;
	font-size: 17px;
	color: ghostwhite;
	width: 150px;
	height: 40px;
	line-height: 30px;
}


.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}




/*FORM*/
.title-textbox {
	font-family: monospace;
	margin-bottom: 5px;
	border-radius: 2px;
	border: 1px solid lightgray;
}

.descr-textarea {
	margin-bottom: 5px;
	border-radius: 2px;
	border: 1px solid lightgray;
	height: 100px;
	font-family:monospace;
}

::placeholder {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0;
}

.show {
	opacity: 1;
	visibility: visible;
	width: 100%;
}

.form-container {
	display: flex;
	flex-direction: column;
	transition: visibility 0.5s linear, opacity 0.5s linear;
}

.form {
	width: 500px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.submit-btn {
	background-color: green;
	color: white;
	font-family: monospace;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid gainsboro;
	border-radius: 5px;
	height: 50px;
	cursor: pointer;
}


.menu-container {
	position: absolute;
	padding: 10px;
	display: flex;
	flex-direction: column;
	width: 150px;
	right:-20px;
	top:30px;
	transition: all 0.5s ease-in;
}

.menu-item {
	border: 1px solid #2a2929;
	background-color: #0097e6;
	color: white;
	box-shadow: 3px 3px 3px #adadad;
	border-radius: 3px;
	transition: all 0.5s;
	width: 140px;
	height:28px;
}

.menu-item:hover {
	height: 35px;
	width: 160px;
}

.menu {
	font-size: 20px;
	font-weight: bolder;
	color: black;
	margin-right: 30px;
	cursor: pointer;
	height: 30px;
	line-height:30px;
	text-align:center;
	border:0;
	background-color:inherit;
}