
body {
    letter-spacing:1px;
}


.active-item a{
    color: #10ac84 !important;
}

.main-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ecf0f1;
    position:fixed;
    background-color:white;
    height:6.5vh;

}

.small-img{
    width:24px;
    height:auto;
}

.logo {
    margin: 10px;
}

.header{
    display:flex;
    height:100%;
    line-height:100%;
    align-items:center;
}

.site-title {
    color: #0097e6;
    font-weight: bold;
    margin-top: 5px;
}

.search {
    margin-right:20px;
}

.search-input {
    border-radius: 3px;
    border: 1px solid #95a5a6;
}

.search-link{
    text-decoration:none;
    border:1px solid gray;
    border-radius:3px;
    background-color:white;
    padding: 5px;
}

/*NAV BAR*/
.nav-bar-container {
    display: flex;
    border: 1px solid #808080;
    background-color: white;
    flex-direction: column;
    height: 94vh;
    width: 200px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50px;
    justify-content: space-between;
    border: 1px solid #ecf0f1;
}

.navigation {
    list-style:none;
    margin-top: 8px;
    width:100%;
    padding:0;
    margin:8px, 0, 0, 4px;
}

.nav-list-item {
    width:100%;
    padding:8px;
    height:auto;
}

a.nav-link-item {
    
}

a:link, a:visited {
    text-decoration: none;
    
}

a.settings-link{
    height:auto;
    padding:8px;
    width:100%;
    margin-left:4px;
    display:flex;
    align-items:center;
}

.setting-icon {
    margin:4px;
}


.main-content-container {
    display: flex;
    padding: 0;
    box-sizing: border-box;
}

.body-render-container {
    padding: 20px;
    position: absolute;
    left: 200px;
    top: 50px;
    z-index: -1;
    background-color: #f5f6fa;
}